::-webkit-scrollbar {
    display: none
}

hr {
    height: 1px;
    width: 80vw;
    border: none;
    background-color: #E74646;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fa {
    padding: 1vw;
    font-size: 4vh;
    width: 5vw;
    height: 5vw;
    text-align: center;
    text-decoration: none;
    margin-left: 92.5vw;
    border-radius: 50%;
    line-height: 3vw;
}

.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #E74646;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-left, .header-right {
    font-weight: bold;
    color: #FFFFFF;
}

header h1 {
    font-size: 6vh;
}

footer h1 {
    width: 45vw;
    font-size: 3vh;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: 'Roboto';
    color: white;
}

footer {
    width: 100vw;
    height: fit-content;
    background-color: #E74646;
}

.right {
    text-align: right;            
}

.topnav {
    width: 100vw;
    background-color: #F2E9E0;
    overflow: hidden;
}

.topnav a {
    float: left;
    width: 25vw;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vh;
}

.topnav a:hover {
    background-color: #FA9884;
}

.topnav a.active {
    background-color: #F9836B;
    color: white;
}

.topnav .icon {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    gap: 3%;
    justify-content: center;
}

.image-left {
    width: 30%;
    margin-right: 20px;
    margin-left: 14%;
}

.image-right {
    width: 30%;
    margin-left: 20px;
    margin-right: 14%;
}

img {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.text-set-left, .text-set-right {
    width: 50%;
}

.text-set-left {
    text-align: right
}

h2 {
    font-size: 6vh;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-break: auto;
    color: #666;
    font-size: 4vh;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4vw;
    }

    p {
        font-size: 3vw;
    }

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        width: 20vw;
        height: fit-content;
    }
    .topnav a:first-child {
        width: 80vw;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: black;
        text-align: center;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive a:not(:first-child, :last-child) {
        width: 100vw;
    }
}

.title {
    width: 100vw;
    height: fit-content;
    margin-top: -29vh;
    background-size: 100vw;
    background-color: #FFF3E2;
}

.title h1 {
    text-align: center;
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
    margin-top: 29vh;
    padding: 14%;
    font-size: 6vw;
}

@media all and (max-width: 320px) {
    .topnav a {
        font-size: 2.2vh;
        padding: 14px 0;
    }
}
